<!DOCTYPE html>
<html ng-app="app">
	<head>    	
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    	<link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
   		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   		
   		<!--CUSTOM ANGULAR-->
   		<script type="text/javascript"src="/js/dashboardCtrl.js"></script>
   		
   		
   		<script src="http://code.highcharts.com/highcharts.src.js"></script>
   	    <script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>
   	 
		<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
		<script type='text/javascript' src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js?2'></script>
		<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>



    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
   
    <!-- jvectormap -->
    <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    
  </head>
  <body class="hold-transition skin-blue sidebar-mini" ng-controller="locateSensorCtrl">
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="/userDashboard" class="logo" >
        <span class="logo-lg"><b>User Dashboard</b></span>
      </a>
      <nav class="navbar navbar-static-top" >
      <!-- Sidebar toggle button-->
      <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      
    </nav>
    </header>
    
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="dist/img/user.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
          <h4> <%=firstname%> </h4>
           </div>
        </div>
        
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class = "sidebar-menu">
	        <!-- /.search form -->
	        <!-- sidebar menu: : style can be found in sidebar.less -->
	 		<li class ="treeview">		
			   <a href="/logout">
	            <i class="fa fa-sign-out" aria-hidden="true"></i>
	            <span>Logout</span>
	           </a>
			</li>
	        <li class="treeview">
	        <a href="/userDashboard">
	           <i class="fa fa-bar-chart" aria-hidden="true"></i>
	           <span>Request data</span>
	          </a>
	        </li>
	        <li class="treeview">
	           <a href="" ng-click="generateBill()">
	            <i class="fa fa-credit-card" aria-hidden="true"></i>
	            <span>Billing</span>
	           </a>
	        </li>
        </ul>
      </section>
    </aside>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      
      <!-- Main content -->
      <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h4>Request Water Quality</h4>
              <p>To get the quality of water in your desired location click below</p>
              </div>
              <a href="/userDashboard" class="small-box-footer">Click Here <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h4>View sensor info on map</h4>
               <p>Check the available sensors in all the locations on google map.</p>
              </div>
              <a href="" ng-click="locateSensor()" class="small-box-footer">Click Here <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h4>Pay Bill</h4>

                <p>Pay as you go. Pay as you use. Highy user friendly. Click here to pay your bill.</p>
              </div>
              
              <a href="" ng-click="generateBill()" class="small-box-footer">Click Here <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
       
        </div>
		</section>

		<div class="col-md-12 ser-grid">
		
	    <h4>Spatial Analysis of sensor Data</h4>

	    <div id="map" style="width: 100%; height: 250px; border: 1px solid #AAA;"></div>

	    <!-- <script type='text/javascript' src='/js/markers.js'></script> -->
	    <script type='text/javascript' src='/js/scorecard.js'></script>
	    <script type='text/javascript' src='/js/leaf-demo.js'></script>
	  </div>
    
    <script src="plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.6 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Sparkline -->
    <script src="plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>

  </body>
  </html>